/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

sencha/balltoro/build/
sencha/balltoro/app/
sencha/balltoro/classic/
!sencha/balltoro/classic/sass/
sencha/balltoro/modern/
!sencha/balltoro/modern/sass/
sencha/balltoro/sass/example/bootstrap.json
sencha/balltoro/classic.json

bower_components/
node_modules/
.sass-cache/
.idea/
.tmp

/web/media/*
!web/media/.gitkeep
