/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

sencha/apps/build/

sencha/apps/balltoro/app/
sencha/apps/balltoro/classic/
!sencha/apps/balltoro/classic/sass/
sencha/apps/balltoro/modern/
!sencha/apps/balltoro/modern/sass/
sencha/apps/balltoro/sass/example/bootstrap.json
sencha/apps/balltoro/classic.json
sencha/apps/balltoro/modern.json

sencha/apps/moboque/app/
sencha/apps/moboque/classic/
!sencha/apps/moboque/classic/sass/
sencha/apps/moboque/modern/
!sencha/apps/moboque/modern/sass/
sencha/apps/moboque/sass/example/bootstrap.json
sencha/apps/moboque/classic.json
sencha/apps/moboque/modern.json

sencha/apps/vcare/app/
sencha/apps/vcare/classic/
!sencha/apps/vcare/classic/sass/
sencha/apps/vcare/modern/
!sencha/apps/vcare/modern/sass/
sencha/apps/vcare/sass/example/bootstrap.json
sencha/apps/vcare/classic.json
sencha/apps/vcare/modern.json

bower_components/
node_modules/
.sass-cache/
.idea/
.tmp

/web/media/*
!web/media/.gitkeep

web/sencha
