/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$lightest-color:#fff;
$enable-font-awesome: dynamic(true);

// grid column focused border color
$grid-row-cell-focus-border-color: transparent;

// toolbar footer
$toolbar-footer-background-color: transparent;
