<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toro App</title>
    <link rel="stylesheet" href="{{ asset('ui/css/app.css') }}">
</head>
<body>
{% block content %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{ asset('ui/js/app.js') }}"></script>
</body>
</html>
