$base-color: #256EB4;

$button-toolbar-background-color: transparent;
$button-toolbar-border-color: transparent;
$button-toolbar-hover-background-color: #efefef;

$panel-header-background-color: #515C67;
$panel-header-border-color: #39414A;

$panel-navigation-background-color: #32404e;
$panel-navigation-item-line-height: 50px;
$panel-navigation-item-text-color: #ADB3B8;
$panel-border-color: #515c67;

$circle-border-radius:50%;
$lightest-color:#fff;
$font-weight: normal;

$accordion-header-background-color: $lightest-color;
$accordion-header-color: #333;

$font-icon-font-family: dynamic(FontAwesome);
